
%h1 Users
%ul.nav.nav-tabs
  %li.active
    =link_to 'All', users_path
  %li
    =link_to 'Assigned',assigned_path
  %li 
    =link_to 'Not Assigned',not_assigned_path
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
        %th Users
        %th Project
    %tbody
      - i = 1
      = content_tag_for(:tr, @users) do |user|
        %td
          = i
        - i += 1
        %td
          = link_to user.name, "/users/#{user.id}"
        %td
          - user.working_projects.each do |project|
            %h5=project.title
                    
