%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Contribution Tracker",root_url, class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          %a{:href => "/projects"} Projects
      %ul.nav.navbar-nav.navbar-left
        %li
          %a{:href => "/leaderboard"} Leaderboard
      - if current_user
        - if current_user.admin
          %ul.nav.navbar-nav.navbar-left
            %li
              %a{:href => "/pending"} Pending Contributions
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/logout"} Logout
